body {
  background: url(http://i.imgur.com/cj74IdD.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.col-md-4 {
  float: none;
  background-color: darkorange;
  display: inline-block;
  margin-top: 100px;
  border: 7px solid blue;
}

/*.userSubmit {
  onClick = this.style.visibility= 'hidden';
}*/
